:global .d2h-wrapper { text-align: left; padding: 0 32px; }
:global .d2h-file-header { display: none; }
:global .d2h-file-stats { display: flex; margin-left: auto; font-size: 14px; }
:global .d2h-lines-added { text-align: right; border: 1px solid #b4e2b4; border-radius: 5px 0 0 5px; color: #399839; padding: 2px; vertical-align: middle; }
:global .d2h-lines-deleted { text-align: left; border: 1px solid #e9aeae; border-radius: 0 5px 5px 0; color: #c33; padding: 2px; vertical-align: middle; margin-left: 1px; }
:global .d2h-file-name-wrapper { display: flex; align-items: center; width: 100%; font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 15px; }
:global .d2h-file-name { white-space: nowrap; text-overflow: ellipsis; overflow-x: hidden; }
:global .d2h-file-wrapper { border: none; }
:global .d2h-diff-table { width: 100%; border-collapse: collapse; font-family: Menlo, Consolas, monospace; font-size: 13px; }
:global(.d2h-diff-tbody > tr > td) { height: 20px; line-height: 1; }
:global .d2h-files-diff { display: block; width: 100%; height: 100%; }
:global .d2h-file-diff { overflow-x: scroll; overflow-y: hidden; }
:global .d2h-file-side-diff { display: inline-block; overflow-x: scroll; overflow-y: hidden; width: 50%; margin-right: -4px; margin-bottom: -8px; }
:global .d2h-code-line { display: inline-block; white-space: nowrap; padding: 0 10px; }
:global .d2h-code-side-line { display: inline-block; white-space: nowrap; padding: 0 10px; }
:global .d2h-code-wrapper { margin: 0 1px; }

:global .d2h-code-line del,
:global .d2h-code-side-line del { display: inline-block; margin-top: -1px; text-decoration: none; background-color: #fdb8c0; border-radius: .2em; }

:global .d2h-code-line ins,
:global .d2h-code-side-line ins { display: inline-block; margin-top: -1px; text-decoration: none; background-color: #acf2bd; border-radius: .2em; text-align: left; }
:global .d2h-code-line-prefix { display: none; }
:global .d2h-code-line-ctn { display: inline; background: 0 0; padding: 0; word-wrap: normal; white-space: pre; }
:global .d2h-code-line-ctn ins { padding: 3px 0; border-radius: 0; }
:global .d2h-code-line-ctn del { padding: 3px 0; border-radius: 0; }
:global .line-num1 { box-sizing: border-box; float: left; width: 40px; overflow: hidden; text-overflow: ellipsis; padding-left: 3px; }
:global .line-num2 { box-sizing: border-box; float: right; width: 40px; overflow: hidden; text-overflow: ellipsis; padding-left: 3px; }
:global .d2h-code-linenumber { box-sizing: border-box; width: 86px; padding-left: 2px; padding-right: 2px; background-color: #fff; color: rgba(0, 0, 0, .3); text-align: right; border: solid #eee; border-width: 0 1px 0 1px; cursor: pointer; }
:global .d2h-code-side-linenumber { box-sizing: border-box; width: 56px; padding-left: 5px; padding-right: 5px; background-color: #fff; color: rgba(0, 0, 0, .3); text-align: right; border: none; cursor: pointer; overflow: hidden; text-overflow: ellipsis; }

:global .d2h-code-side-emptyplaceholder, :global .d2h-emptyplaceholder { background-color: #fafafa; border-color: #e1e1e1; }
:global .d2h-del { background-color: #ffeef0; border-color: #e9aeae; }
:global .d2h-ins { background-color: #e6ffed; border-color: #b4e2b4; }
:global .d2h-info { background-color: #fff; color: #fff; border-color: #d5e4f2; }
:global .d2h-file-diff .d2h-del.d2h-change { background-color: #fdf2d0; }
:global .d2h-file-diff .d2h-ins.d2h-change { background-color: #ded; }
:global .d2h-file-list-wrapper { margin-bottom: 10px; }
:global .d2h-file-list-wrapper a { text-decoration: none; color: #3572b0; }
:global .d2h-file-list-wrapper a:visited { color: #3572b0; }
:global .d2h-file-list-header { text-align: left; }
:global .d2h-file-list-title { font-weight: 700; }
:global .d2h-file-list-line { display: flex; text-align: left; }
:global .d2h-file-list { display: block; list-style: none; padding: 0; margin: 0; }
:global .d2h-file-list > li { border-bottom: #ddd solid 1px; padding: 5px 10px; margin: 0; }
:global .d2h-file-list > li:last-child { border-bottom: none; }
:global .d2h-file-switch { display: none; font-size: 10px; cursor: pointer; }
:global .d2h-icon { vertical-align: middle; margin-right: 10px; fill: currentColor; }
:global .d2h-deleted { color: #c33; }
:global .d2h-added { color: #399839; }
:global .d2h-changed { color: #d0b44c; }
:global .d2h-moved { color: #3572b0; }
:global .d2h-tag { display: flex; font-size: 10px; margin-left: 5px; padding: 0 2px; background-color: #fff; }
:global .d2h-deleted-tag { border: #c33 1px solid; }
:global .d2h-added-tag { border: #399839 1px solid; }
:global .d2h-changed-tag { border: #d0b44c 1px solid; }
:global .d2h-moved-tag { border: #3572b0 1px solid; }

:global .selecting-left .d2h-code-line,
:global .selecting-left .d2h-code-line *,
:global .selecting-left .d2h-code-side-line,
:global .selecting-left .d2h-code-side-line *,
:global .selecting-right td.d2h-code-linenumber,
:global .selecting-right td.d2h-code-linenumber *,
:global .selecting-right td.d2h-code-side-linenumber,
:global .selecting-right td.d2h-code-side-linenumber * { -webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

:global .selecting-left .d2h-code-line ::-moz-selection,
:global .selecting-left .d2h-code-line::-moz-selection,
:global .selecting-left .d2h-code-side-line ::-moz-selection,
:global .selecting-left .d2h-code-side-line::-moz-selection,
:global .selecting-right td.d2h-code-linenumber::-moz-selection,
:global .selecting-right td.d2h-code-side-linenumber ::-moz-selection,
:global .selecting-right td.d2h-code-side-linenumber::-moz-selection { background: 0 0; }

:global .selecting-left .d2h-code-line ::selection,
:global .selecting-left .d2h-code-line::selection,
:global .selecting-left .d2h-code-side-line ::selection,
:global .selecting-left .d2h-code-side-line::selection,
:global .selecting-right td.d2h-code-linenumber::selection,
:global .selecting-right td.d2h-code-side-linenumber ::selection,
:global .selecting-right td.d2h-code-side-linenumber::selection { background: 0 0; }

