.button {
  display: block;
  color: #fff;
  text-align: center;
  width: 160px;
  line-height: 3;
  padding: 0 16px;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  margin: 8px auto;
}

.google {
  background-color: rgba(221, 75, 57, .9);
  transition: .15s;
}

.twitter {
  background-color: rgba(85, 172, 238, .9);
  transition: .15s;
}

.facebook {
  background-color: rgba(59, 89, 153, .9);
  transition: .15s;
}

.google:hover {
  background-color: rgba(221, 75, 57, 1);
  transition: all .5s;
}

.twitter:hover {
  background-color: rgba(85, 172, 238, 1);
  transition: all .5s;
}

.facebook:hover {
  background-color: rgba(59, 89, 153, 1);
  transition: all .5s;
}

.imageSns {
  margin-left: 4px;
}
