p {
  line-height: 1.5;
  margin-top: 8px;
}

.SignIn {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: linear-gradient(145deg, rgba(18, 151, 226, .7), rgba(18, 151, 226, .65), rgba(18, 151, 226, .6));
  /* background-color: rgba(18, 151, 226, .6); */
}

.messageWrapper {
  height: 100%;
  width: 60%;
  padding-left: 160px;
  margin-top: 160px;
}

.catchCopy {
  font-size: 64px;
  font-weight: 900;
}

.catchCopyText {
  margin: 0;
  line-height: 1.2;
  font-size: 64px;
}

.description {
  margin-top: 64px;
}

.descriptionText {
  margin: 4px 0 0 0;
  line-height: 1.4;
  font-size: 16px;
  font-weight: 100;
}
