.MyPageButtonBlueBase {
  border-radius: 4px;
  color: #fff;
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 100;
  line-height: 1.5;
  padding: 16px;
  cursor: pointer;
  transition: .15s
}

.MyPageButtonBlueBase:hover {
  background-color: #fff;
  color: rgba(18, 151, 226, .6);
  transition: all .5s;
}

.MyPageButtonWhiteBase {
  margin-right: 16px;
  border-radius: 4px;
  color: rgba(18, 151, 226, .6);
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 100;
  line-height: 1.5;
  padding: 16px;
  cursor: pointer;
  transition: .15s
}

.MyPageButtonWhiteBase:hover {
  background-color: rgba(18, 151, 226, .6);
  color: #fff;
  transition: all .5s;
}
