.addIcon {
  color: #fff !important;
  background-color: rgba(18, 151, 226, .6) !important;
}

.addIcon:hover {
  opacity: .7;
  transition: all .5s;
}

.directory {
  position: fixed !important;
  bottom: 8% !important;
  left: calc(50% - 68px) !important;
}

.branch {
  position: fixed !important;
  bottom: 8% !important;
  right: 38px !important;
}
