.addIcon {
  color: #fff !important;
  background-color: rgba(18, 151, 226, .6) !important;
}

.directory {
  position: fixed !important;
  top: 90% !important;
  left: 45% !important;
}

.branch {
  position: fixed !important;
  top: 90% !important;
  left: 95% !important;
}
