.button {
  border-radius: 4px;
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 100;
  line-height: 1.5;
  padding: 16px;
  margin: 0 4px;
  cursor: pointer;
  transition: .15s;
}

.blueBase {
  background-color: rgba(18, 151, 226, .6);
  color: #fff;
}

.blueBase:hover {
  background-color: #fff;
  color: rgba(18, 151, 226, .6);
  transition: all .5s;
}

.whiteBase {
  background-color: #fff;
  color: rgba(18, 151, 226, .6);
}

.whiteBase:hover {
  background-color: rgba(18, 151, 226, .6);
  color: #fff;
  transition: all .5s;
}

.whiteBaseWithBorder {
  margin: 0 8px;
  font-weight: 500;
  border: 0.5px solid rgba(18, 151, 226, .6);
  text-align: center;
  background-color: #fff;
  color: rgba(18, 151, 226, .6);
}

.whiteBaseWithBorder:hover {
  transform: translate(1px, 1px);
  color: #fff;
  background-color: rgba(18, 151, 226, .6);
  box-shadow: 1px 1px rgb(224, 224, 224);
  border: none;
  transition: all .3s;
}

.title {
  font-size: 32px;
  font-weight: 500;
  margin: auto 0 auto 32px;
  vertical-align: middle;
  padding: 0;
}

.commit {
  flex: 1;
}

.checkDiff {
  flex: 1;
}

.signOut {
  margin-right: 24px;
}

.auth {
  color: #fff;
}

.auth:hover {
  background-color: #fff;
  color: rgba(18, 151, 226, .6);
  transition: all .5s;
}

.merge {
  position: fixed;
  bottom: 5%;
  right: 5%;
  padding: 12px 24px;
  background-color: rgba(18, 151, 226, .6);
  color: #fff;
}

.merge:hover {
  opacity: .7;
  transition: all .5s;
}
