.button {
  border-radius: 4px;
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 100;
  line-height: 1.5;
  padding: 16px;
  margin: 0 4px;
  cursor: pointer;
  transition: .15s;
}

.blueBase {
  color: #fff;
}

.blueBase:hover {
  background-color: #fff;
  color: rgba(18, 151, 226, .6);
  transition: all .5s;
}

.whiteBase {
  margin-right: 16px;
  color: rgba(18, 151, 226, .6);
}

.whiteBase:hover {
  background-color: rgba(18, 151, 226, .6);
  color: #fff;
  transition: all .5s;
}

.title {
  font-size: 32px;
  font-weight: 500;
  margin: auto 0 auto 32px;
  vertical-align: middle;
  padding: 0;
}

.commit {
  position: fixed;
  right: 15%;
  bottom: 5%;
}
