@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,Montserrat:300,400,500');

.container {
  display: flex;
}

.directoryList {
  flex: 1;
  margin-left: 6px;
}

.branchList {
  flex: 1;
  margin-left: 24px;
}

.title {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  color: #424242;
}
