.disclaimerMessageWrapper {
  width: 100%;
  height: 100%;
  background-color: rgba(18, 151, 226, .6);
  color: #fff;
  font-family: 'Montserrat';
}

.logo {
  padding: 72px;
  margin: 0;
  font-size: 48px;
}

.pcWrapper {
  width: 100%;
  margin: 20vh 0 10vh;
  text-align: center;
}

.pc {
  height: 22vh;
  width: 50%;
}

.disclaimerMessage {
  margin: 2vh 0 0;
  padding: 0 72px;
  font-size: 32px;
  font-weight: 300;
  color: #fff;
}
