.disclaimerMessageWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.disclaimerMessage {
  padding: 0 40px;
  font-size: 36px;
  color: #fff;
}
