@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500');

* {
  color: #ffffff;
  font-family: 'Montserrat';
}

.Header {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  top: 0;
  width: 100%;
  padding: 28px 0;
}

.title {
  font-size: 32px;
  font-weight: 500;
  margin: auto 0 auto 32px;
  vertical-align: middle;
}

.buttons {
  display: flex;
  margin: auto 0;
  margin-right: 32px;
}
