@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500');

.HeaderBlueBase {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  top: 0;
  width: 100%;
  padding: 28px 0;
  color: #fff;
  font-family: 'Montserrat';
  cursor: pointer;
}

.HeaderWhiteBase {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  top: 0;
  width: 100%;
  padding: 28px 0;
  color: rgba(18, 151, 226, .6);
  font-family: 'Montserrat';
  cursor: pointer;
}

.HeaderButtonsWrapper {
  display: flex;
  margin-right: 16px;
}
