@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500');

.header {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  top: 0;
  width: 100%;
  padding: 28px 0;
}

.blueBase {
  color: #fff;
  font-family: 'Montserrat';
}

.whiteBase {
  color: rgba(18, 151, 226, .6);
  font-family: 'Montserrat';
}
